<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POS SYSTEM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
      <div class="header-left">
        <button> POS SYSTEM </button>   <!--將 POS SYSTEM 美化-->
      </div>
      <div class="header-right">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="coolBeans">登出</button>
        </form>
    </div>

    </header>
    <!--頁面上層漸層色(未使用實漸層色減緩色衰)及右測連結(可設定連結官方)-->
    <div class="card">
      <a href="https://www.iciil.nchu.edu.tw/" target="_blank">官方聯絡</a>
    <!--頁面上層漸層色-->
      <div class="container">
       <nav>
          <ul>
           {%block list%}
            
           {% endblock %}
          </ul>

        </nav>
       <main>
    
    {%block body%}

    {% endblock %}
</body>
</html>