{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<!--admin登入處改背景https://www.aigei.com/lib/gif/background_11-->   
    <style type="text/css">    
        body {
      background-image: url("https://s1.aigei.com/src/img/gif/e9/e9fb610404e5498aa5ad7f188d1a5eff.gif?e=1735488000&token=P7S2Xpzfz11vAkASLTkfHN7Fw-oOZBecqeJaxypL:mPeIS8BABwBQEvrDvcB6VYJ3G68=");
      background-size: cover;
      background-attachment: fixed;
    }
    </style>
<!--admin登入處背景改金錢-->   
</head>
<body class="auth-body">
    
    <div class="auth-container">
        <h2>登入</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">登入</button>
        </form>
        <a href="{% url 'register' %}">註冊</a>
    </div>
</body>
</html>

    
