{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body class="auth-body">
    <div class="auth-container">
        <h2>註冊</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">註冊</button>
        </form>
        <a href="{% url 'login' %}">登入</a>
    </div>
</body>
</html>
